pip==22.2.2
black==22.3.0
flake8==4.0.1
isort==5.10.1
anyio==4.3.0
click==8.1.7
fastapi==0.110.0
h11==0.14.0
httptools==0.6.1
idna==3.6
iniconfig==2.0.0
pytest==8.1.1
python-dotenv==1.0.1
starlette==0.36.3
typing_extensions==4.10.0
uvicorn==0.29.0
uvloop==0.19.0
watchfiles==0.21.0
websockets==12.0