#login {
    margin: auto;
    width: 90%;
}

.login-form {
    display: flex;
    flex-direction: column;
    vertical-align: center;
    background-color: whitesmoke;
    border: 1px solid darkslategrey;
    border-radius: 1em;
    padding: 1em;
    margin-right: 1em;
}

.login-form button {
    margin: auto;
    padding: 0.25em;
    width: 85%;
    margin-bottom: 0.5em;
}

.login-form input {
    width: 85%;
    padding: 0.25em;
    margin:auto;
    margin-bottom: 1em;
    border-radius: 0.45em;
}
