body {
    margin: 0;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    max-width: fit-content - 1em;
    max-height: fit-content - 1em;
    justify-content: center;
    background-color: #312d2d;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.content {
    padding: 1em;
    padding-top: 5em;
    padding-bottom: 5em;
    margin: auto;
    background-color: #F1DABF;
    min-width: 90vw;
    max-width: 90vw;
    border: 5px solid #8a1f1f;
    border-radius: 1em;
}

body h1 {
    color: white;
    font-size: 10vw;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transform-origin: bottom left;
    animation: title-slide 2s 0s cubic-bezier(.36, 0, .06, 1);
}

@keyframes title-slide {
    50%, 100% {
        transform: translateY(0em)
    }
    0%: {
        opacity: 0;
        filter: blur(10px);
    }
    100%: {
        opacity: 1;
        filter: blur(0px);
    }
}

body h2 {
    text-align: center;
    font-size: 5vw;
}

body h3 {
    font-size: 2vw;
    text-align: center;
}

header {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

.nav-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: auto;
}

.nav-content button {
    text-align: center;
    color: whitesmoke;
    padding: 5px 20px;
    width: 50%;
    margin-right: 10px;
    font-size: 2vw;
    border: 2px solid whitesmoke;
    position: relative;
    background-image: linear-gradient(270deg, #312d2d 50%, transparent 50%);
    background-position: 100%;
    background-color: #991d1d;
    background-size: 400%;
    transition: background 350ms ease-in-out;

    &:hover {
        background-position: 0;
    }
}
