body {
    margin: 0;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: fit-content - 1em;
    max-height: fit-content - 1em;
    justify-content: center;
    background-color: #222222;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.content {
    padding: 1em;
    padding-top: 2em;
    padding-bottom: 2em;
    margin: 0;
    background-color: #e6e6e6ef;
    min-width: 90vw;
    max-width: fit-content;
    border: 5px solid #5e5b57;
    border-radius: 1rem;
}

.content-card {
    margin: auto;
    display: flex;
    flex-direction: column;
    vertical-align: top;
    background-color: #EEEEEE;
    border: 2.5px solid #3b32327c;
    border-radius: 1rem;
    padding: 1em;
    margin-bottom: 1em;
}

@media (max-width: 800px) {
    .content {
        padding: 0.5em;
    }
}

body h1 {
    color: #E63946;
    font-size: 10vw;
    font-style: italic;
    animation: title-slide 3s 0s ease-in-out;
    animation: pull-content 2s 0s ease-out;
    margin-top: 0em;
    margin-bottom: 0.5em;
}


body h2 {
    color: #2d3236;
    text-align: center;
    font-size: 4em;
}

body h3 {
    color: #2d3236;
    font-size: 2.5vw;
    text-align: center;
}

header {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
  background-color: #57494c;
  color: whitesmoke;
}

tr:nth-child(even) {
  background-color: lightgrey;
}

td {
  height: 1.50em;
}


.text-field {
  width: fit-content;
}

.num-field {
  text-align: center;
  width: 1.5em;
}

.info-link {
    text-align: center;
    color: #6b1313;
}

.info-link:hover {
    color: red;
}

.nav-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: auto;
}

.nav-content button {
    text-align: center;
    color: whitesmoke;
    padding: 5px 20px;
    width: 50%;
    margin-right: 10px;
    font-size: 2vw;
    border: 2px solid whitesmoke;
    position: relative;
    background-image: linear-gradient(270deg, #312d2d 50%, transparent 50%);
    background-position: 100%;
    background-color: #991d1d;
    background-size: 400%;
    transition: background 650ms ease-in;

    &:hover {
        background-position: 0;
    }
}