#player-filters {
  flex-direction: row;
}

#player-filters input {
  width: 8em;
  margin-right: 0.5em;
}

#players-table {
  width: 100%;
  margin: auto;
}

.text-field {
  width: fit-content;
}
.num-field {
  text-align: center;
  width: 1.5em;
}

.link-field {
  text-align: center;
  width: 10.35rem;
}

.info-link {
  text-align: center;
  color: #6b1313;
}

.info-link:hover {
  color: red;
}

.info-link:active {
  color: darkslategrey;
}