.player-content-card {
    margin: auto;
    display: flex;
    flex-direction: column;
    vertical-align: top;
    background-color: whitesmoke;
    border: 1px solid darkslategrey;
    border-radius: 1rem;
    padding: 1em;
    margin-bottom: 1em;
}

#player-filters {
    flex-direction: row;
}
#players-table {
    margin: auto;
}
#player-filters input {
    width: 8em;
    margin-right: 0.5em;
}

#players-table {
    width: 100%;
}

.text-field {
    width: fit-content;
}
.num-field {
    text-align: center;
    width: 1.5em;
}
tr {
    border-bottom: 1px solid black;
}
tr:nth-child(even) {
    background-color: lightgrey;
}
